<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./public/head.ejs")%>
</head>
<body>
<%- include("./public/header.ejs")%>
<section class="main floatfix">
    <%- include("./public/aside.ejs")%>
    <section class="main-articles about">
        <h2>About Me</h2>
        <p>I am from UCL. This blog is to share the knowklege about Node.js and Express</p>
    </section>
</section>
<%- include("./public/footer.ejs")%>
</body>
</html>