<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./public/head.ejs")%>
</head>
<body>
<%- include("./public/header.ejs")%>
<section class="main floatfix">
    <%- include("./public/aside.ejs")%>
    <section class="main-articles friends">
        <h2>Useful Links</h2>
        <ul class="floatfix">
            <li><a href="https://github.com">GitHub</a></li>
            <li><a href="https://nodejs.org/">Node.js</a></li>
            <li><a href="https://stackoverflow.com//">Stackoverflow</a></li>
            <li><a href="https://google.com">Google</a></li>
            <li><a href="https://www.npmjs.com">NPM</a></li>
            <li><a href="http://www.w3school.com.cn">W3CSchool</a></li>
            <li><a href="https://developer.mozilla.org">MDN</a></li>
        </ul>
    </section>
</section>
<%- include("./public/footer.ejs")%>
</body>
</html>