<aside>
    <section class="main-aside-avatar">
        <img src="/img/avatar.jpg" alt="">
    </section>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Me</a></li>
        <li><a href="friends">Useful Links</a></li>
        <li><a href="/edit">New Post</a></li>
        <% if(user) { %>
        <li><a href="/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</aside>